<!DOCTYPE>
<html ng-app="todoApp">
<head>
  <script src="./lib/angular/angular.min.js"></script>
  <script src="./lib/angular-ui-router/release/angular-ui-router.min.js"></script>

  <script src="./client/app.js"></script>
  <script src="./client/auth/auth.controller.js"></script>
  <title>Angular Todo App</title>
</head>
<body>
  <h1>TESTING APP</h1>
  <div ui-view></div>
  <a ui-sref="login">Login</a>
</body>
</html>
